footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 2rem;
  row-gap: 2rem;
  text-transform: uppercase;
  padding-top: 4rem;
}

footer nav {
  padding-left: 2rem;
}

footer nav:nth-of-type(2) {
  padding-left: 0.5rem;
}

footer nav h3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02rem;
}

footer nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

footer a {
  text-decoration: none;
  color: #000;
  font-size: 0.75rem;
  font-weight: 400;
}

footer .logo-footer {
  grid-column: 1 / -1;
}

footer .logo-footer img {
  width: 100%;
  height: auto;
  display: block;
  padding: 2rem 0.2rem 0 0.2rem;
}
