footer {
  border-top: 1px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 0;
  row-gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.newsletter {
  grid-column: 1 / -1;
  display: block;
  padding-bottom: 4rem;
}

footer nav {
  padding-left: 1rem;
  text-transform: uppercase;
}

footer nav:nth-of-type(2) {
  padding-left: 3rem;
}

footer nav h3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02rem;
}

footer nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

footer a {
  text-decoration: none;
  color: #000;
  font-size: 0.75rem;
  font-weight: 400;
}

footer .logo-footer {
  grid-column: 1 / -1;
}

footer .logo-footer img {
  width: 100%;
  height: auto;
  display: block;
  padding: 2rem 0.2rem 0 0.2rem;
}

@media screen and (min-width: 600px) {
  footer {
    row-gap: 2rem;
    column-gap: 1rem;
    padding-top: 3rem;
  }
  footer nav {
    padding-left: 1.5rem;
  }
}

@media screen and(min-width: 900px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top: 4rem;
    align-items: start;
    grid-auto-rows: auto;
  }
  footer nav:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 2rem;
  }
  footer nav:nth-last-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 0.5rem;
  }

  .newsletter {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
    padding-bottom: 0;
  }

  footer .logo-footer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  footer nav ul {
    gap: 1 rem;
  }
}
