header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  scroll-behavior: smooth;
  width: 8rem;
  height: auto;
  padding: 1rem;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-right: 1rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* .site-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70%;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  padding: 4rem 2rem;
  z-index: 1000;
}

body.menu-open .site-menu {
  transform: translateX(0);
}

.site-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-menu li {
  margin-bottom: 1.5rem;
}

.site-menu a {
  text-decoration: none;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.2rem;
} */

/* ===== MEDIA QUERIES DESKTOP ===== */
