.intro {
  margin: 2rem 0 2rem 1rem;
}

.logo {
  width: 15rem;
  height: auto;
  display: block;
}

.scroll {
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  height: 543px; /* justera höjden tills utsnittet känns rätt */
  background-image: url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-size: 460%; /* liten inzoomning för att ta bort kanter */
  background-position: 44.5% 20%; /* visar toppen till mitten */
  transform: scaleX(-1); /* spegelvänd som i designen */
}

.about {
  margin: 4rem 1rem 1rem 1rem;
}

.tag-line {
  color: #000;
  font-family: "IMB Plex Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.0175rem;
  margin-bottom: 1.5rem;
}

.headline-group {
  color: #000;
  font-family: "Neue Haas Display", "sans-serif";
  text-align: right;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03rem;
}

.right {
  display: block;
  text-align: right;
}

.left {
  display: block;
  text-align: left;
}

.headline-group span {
  font-size: inherit; /* ärver rubrikens storlek */
  font-weight: inherit; /* ärver vikten */
  line-height: inherit; /* ärver radavståndet */
}

.sub-heading {
  color: #8a8a8a;
  font-family: "Neue Haas Display", "sans-serif";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03rem;
}

.collection-name {
  color: #000;
  text-align: right;
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 1.05rem */
  letter-spacing: -0.0175rem;
  margin-top: 1rem;
}

.description {
  height: 13.67281rem;
  align-self: stretch;
  color: #000;
  text-align: justify;
  font-family: "IBM Plex Sans";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 1.4875rem */
  margin-top: 5rem;
}

.about-link {
  color: #000;
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  letter-spacing: -0.0175rem;
  text-decoration: underline;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.04rem;
  margin-top: 5rem;
  margin: 1rem;
}

.product-grid {
  list-style: none;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.product {
  margin-bottom: 1rem;
}

.product img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.product article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-name {
  color: #000;
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 0.875rem;
  line-height: 120%;
  margin-top: 0.5rem;
}

.product-price {
  color: #8a8a8a;
  font-family: "IBM Plex Sans", "sans-serif";
  font-size: 0.6875rem;
  letter-spacing: -0.01375rem;
  line-height: 120%;
}

/* För hur den ska se ut i destop
.hero img {
  transform: scaleX(-1);
  display: block;
  width: 100%;
  height: 25vh; /* styr hur mycket som syns */
/* object-fit: cover; /* beskär för att fylla ytan */
/*object-position: center top; /* håll fokus på toppen */
/*}  */
