/* .collection-media */

.collection-media {
  margin-top: 4rem;
}

/* ===== MOBILE FIRST images ===== */
/* Varje sektion ≈ en screen, bara bild syns */

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.product-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.media-video {
  display: none;
}

.media-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: rgb(0, 0, 0, 0.25);
  color: #fff;
}

.color-picker {
  position: absolute;
  bottom: 0.6rem;
  right: 0rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  z-index: 5;
}

.color-circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.color-circle[data-color="beige"] {
  background: #e5d4b8;
}
.color-circle[data-color="blue"] {
  background: #2969c6;
}
.color-circle[data-color="orange"] {
  background: #f5863c;
}

.color-circle.active {
  border: 2px solid #000;
}

.merch-product {
  display: flex;
  flex-direction: row;
  position: relative;
}

.merch-product img {
  height: 100vh;
  width: 100%;
}

/* ===== MEDIA QUERIES DESKTOP ===== */
@media (min-width: 900px) {
  .collection-media {
    margin-top: 0;
  }
  .pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image video";
    height: 100vh;
    overflow: hidden;
  }

  
.play-btn {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /* Triangel-play ikon */
}
.play-btn::before {
  content: "";
  border-style: solid;
  border-width: 0.7rem 0 0.7rem 1.2rem;
  border-color: transparent transparent transparent white;
  margin-left: 0.2rem;
}

.play-btn:hover {
  background: rgba(255, 255, 255, 0.35);
}



  .color-picker {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    right: auto;
    transform: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 8;
  }

  .product-image,
  .media-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .product-image {
    grid-area: image;
  }

  .media-video {
    grid-area: video;
    display: none;
  }

  .pair.reverse {
    grid-template-areas: "video image";
  }

  .media-label {
    font-size: 6.25rem;
    font-weight: 700;
  }
}

/* ==== accesebility ==== */
@media (prefers-reduced-motion: reduce) {
  .pair .media-video {
    display: none;
  }
}
