/* Produkterna */

.collection-media {
  display: flex;
  flex-direction: column;

  margin-top: 4rem;
}

.pair {
  display: grid;
  grid-template-columns: 1fr;
}

.media-image,
.media-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 /9;
  object-fit: cover;
  display: block;
}

.pair .media-video {
  display: none;
}

/* Om oss karusell  */

/* newsletter */
@media screen and (min-width: 900px) {
  .pair {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .pair .media-video {
    display: block;
  }

  .pair.reverse .media-image {
    order: 2;
  }

  .pair.reverse .media-video {
    order: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .pair .media-video {
    display: none;
  }
}
