.newsletter {
  border-top: 0.5px solid #000;
  padding: 2rem 1rem 0;
  max-width: 28rem;
  margin: 0 auto;
  text-align: left;
}

.newsletter h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
}

.newsletter p {
  font-size: 0.75rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  max-width: 26rem;
}

.newsletter form {
  display: flex;
  align-items: center;
  position: relative;
}

.newsletter input {
  flex: 1;
  border: none;
  border-bottom: 0.1rem solid #000;
  padding: 0 0 0.5rem 0;
  font-size: 0.9rem;
  background: transparent;
  outline: none;
}

.newsletter input::placeholder {
  color: #aaa;
  font-weight: 300;
  font-family: "IBM Plex Sans", "sans-serif";
}

.newsletter-btn {
  position: absolute;
  right: 0;
  bottom: 0.25rem;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.newsletter-btn img {
  width: 1.25rem;
  height: auto;
}
