* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  background-color: white;
  font-family: "IBM Plex Sans", "sans-serif";
  color: #000;
  overflow-x: hidden;
}
