* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("../fonts/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("../fonts/NeueHaasDisplay-Roman.woff") format("woff");
  font-display: swap;
}
