.slider {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 100%;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > section.slide {
  scroll-snap-align: start;
  flex: 0 0 93%;
  height: 100%;
  background: #fff;
  position: relative;

  display: flex;
  flex-direction: column;
}

.slides > section.slide img {
  width: 100%;
  flex: 0 0 80%;
  object-fit: cover;
}

.slide-content {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides > section h3 {
  padding-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

.slides p {
  padding-left: 1rem;
  margin: 0 0 1.5rem 0;
  font-size: 0.75rem;
  line-height: 1.5;
}

/* ===== MEDIA QUERIES DESKTOP ===== */
@media (min-width: 900px) {
  .slider {
    height: auto;
  }

  .slides {
    overflow-x: visible;
    scroll-snap-type: none;
  }

  .slides > section.slide {
    flex: 1 1 33.333%;
    height: auto;
  }

  .slides > section.slide img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    flex: 0 0 auto;
  }

  .slide-content {
    flex: 0 0 auto;
    margin-top: 1rem;
    margin-right: 4.5rem;
  }
}
