.slider {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 100%;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > section {
  scroll-snap-align: start;
  flex: 0 0 93%;
  height: 100%;
  background: #fff;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* object-fit: cover;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; */

.slides > section h3 {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

.slides p {
  padding-left: 1rem;
  margin: 0 0 1.5rem 0;
  font-size: 0.75rem;
  line-height: 1.5;
}
